/* src/App.css */

.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.card-container {
  display: flex;
  margin-top: 20px;
  overflow-x: auto;
  justify-content: space-between;
  white-space: nowrap;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



/* Target the scrollbar track (the background of the scrollbar) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar as needed */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #0A6EB8; /* Change the color to your desired color */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

/* Style the scrollbar track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #e0e0e0; /* Change the color to your desired track color */
}

/* Style the scrollbar corner (the space where two scrollbars meet) */
::-webkit-scrollbar-corner {
  background-color: transparent; /* You can set this to a color or make it transparent */
}